$breakpoint-mobile: 26.875rem;
$breakpoint-sm: 26.875rem;
$breakpoint-tablet: 48rem;
$breakpoint-md: 48rem;
$breakpoint-desktop: 80rem;
$breakpoint-lg: 80rem;
$breakpoint-wide: 108rem;
$breakpoint-xl: 108rem;
$breakpoint-2xl: 108rem;
